<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title and icon -->
    <title>NueApi</title>
    <link rel="icon" type="image/png" href="https://telegra.ph/file/e07e0fddc2a2967bd08d6.jpg" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <style>
        /* Variables */
        :root {
            --bg-color: #20232a;
            --text-color: #61dafb;
            --link-color: white;
            --link-hover-color: #61dafb;
            --content-color: #ced4da;
        }

        /* Body */
        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            font-family: 'Arial', sans-serif;
        }

        /* Navbar */
        .navbar {
            background-color: #343a40;
        }

        .navbar a {
            color: var(--link-color);
        }

        .navbar a:hover {
            color: var(--link-hover-color);
        }

        /* Content */
        .content {
            margin: 20px;
            text-align: center;
        }

        .content p {
            color: var(--content-color);
        }

        .content .visitor {
            color: var(--text-color);
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">NueApi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/ai">Ai Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/downloader">Download Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/other">Other Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://chat.whatsapp.com/D6bHVUjyGj06bb6iZeUsOI">Join</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="content">
        <h1>NueApi Xixi!</h1>
        <p>Gratis dan anti down, join ke group coy kita diskusi bareng</p>
        <p class="visitor">Visitor Api</p>
        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1146079/t/1"></script>
    </div>

    <!-- Scripts -->
  
  <!--- botika webchat begin -->
  <script src="https://chat.botika.online/client/assets/js/botika.widget.js"></script>
  <script>
    window.BotikaChat.init({
      'client': 'Cg8dLOu',
      'widget': {
        'theme': 'custom',
        'theme-color' :'#4E0A47',
        'title': 'Alicia',
        'description': 'Description',
        'caption': 'Bantuan',
        'greeting': 'false',
        'greeting-message': '',
        'greeting-button': 'Hello',
        'logo': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaZMaMQFWSGMDTieR0OSAvuQ12IKyUT192lm5uGzhHUXePhIWs1laRu9vr&s=10',
        'history': false
      }
    });
  </script>
  <!--- botika webchat end -->
  
    <script src="https://static.cbox.ws/embed/2.js" async></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
